# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.pyc
*.so
*.egg
*.egg-info
dist
build

# log:
*.out
temp/*

# database
db.conf
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb

/data
ip.py
crawls/tagSpider-1/spider.state
crawls/tagSpider-1/requests.seen
crawls/tagSpiderCrawl-1/requests.seen
crawls/tagSpiderCrawl-1/spider.state
crawls/tagSpiderCrawl-1/requests.queue/p0
crawls/tagSpiderCrawl-1/requests.queue/p-1
crawls/tagSpiderCrawl-1/requests.queue/p1
crawls/tagSpiderCrawl-1/requests.queue/active.json
tag/requests.seen
BilibiliRankListSpider/date.js
BilibiliRankListSpider/date1.js
tag/spider.state
tag/requests.queue/active.json
